/* 灰色 */
.gray {
  color: #a0a0a0;
}
.light-gray {
  color: #cfcfcf;
}
.deep-gray{
   color: #7c7c7c;
}
.deep-gray:hover{
  color: #000;
}
.deeper-gray{
  color:#676767;
}
.black:hover{
  color: #000;
}
/* 网易红 */
.netEase-red{
  color: #ec4141;
}
/* 按钮 */
.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  /* box-sizing: content-box; */
  text-align: center;
  padding: 5px 16px;
  border: 1px solid #ccc;
  border-radius: 17px;
}
.btn:hover {
  background-color: #f2f2f2;
}
.icon-common{
  font-size: 12px;
margin-right: 3px;
}
/* 字体加粗 */
.bold {
  font-weight: bold;
}

/* 字体大小 */
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-23 {
  font-size: 23px;
}

/* 圆角 */
.rounded-5 {
  border-radius: 5px;
}
.rounded-50 {
  border-radius: 50%;
}
/* 边框线 */
.border-line{
  border: 0.01rem solid #ddd
}

/* 跳转链接颜色 */
.link {
  cursor: pointer;
  color: #5091ca;
}
.deep-link{
  cursor: pointer;
  color: #507daf;
}
.deep-link:hover, .link:hover {
  color: #0b58b7;
}
/* 居中 */
.flex-center {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex{
  display: flex;
}
.center{
  margin: 0 auto;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

/* 手指 */
.pointer {
  cursor: pointer;
  
}
.default{
  cursor:default;
}

/* 给父亲添加相对定位 */
.position {
  position: relative;
}

/* display */
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

/* 内边距 */
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-30 {
  padding-top: 30px;
}
/* 外边距 */
.mt-2{
margin-top: 2px;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.-ml-1{
margin-left: -1px;
}

.ml-3{
  margin-left: 3px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mx-15{
  margin-left: 15px;
  margin-right: 15px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 一行文本溢出隐藏： 需要添加width */
.hidden-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 多行省略 */
.hidden-2 {
  overflow: hidden;
  -webkit-line-clamp: 2;/*设置多行的行数*/
  -webkit-box-orient: vertical;/*设置对齐模式*/
  display: -webkit-box;
  text-overflow: ellipsis;

}
.hidden-3 {
  overflow: hidden;
  -webkit-line-clamp: 3;/*设置多行的行数*/
  -webkit-box-orient: vertical;/*设置对齐模式*/
  display: -webkit-box;
  text-overflow: ellipsis;

}
.my-message{
background-color: #000;
}
.el-message{
  top: 40%!important;
  /* transform:(-50%,-50%)!important; */
  min-width: 180px!important;
  border-radius:13px!important; 
  background-color: #141516!important;
  opacity:0.8;
  padding:23px 50px 23px 30px!important;
  
}
.el-message__content{
  display: flex;
  align-items: center;
  font-size: 17px!important;
  color: #fff!important;
}
.el-icon-info:before{
  content: ""!important;
}