/* * {
  box-sizing: border-box;
} */

html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
/* 歌词页面出现造成页面滚动 */
/* :root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
} */
body{
  width: 100vw;
  overflow: hidden;
  padding-left: calc(100vw - 100%)
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #373737;
  font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
}
/* html,
body {
  height: 100%;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #373737; */
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
}
ul li {
  list-style: none;
}
a {
  color: #373737;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

.router-link-active:hover {
  color: black;
}
.gray {
  color: #7f7f88;
}
.light-gray {
  color: #c9c9c9;
}
/* img {
  display: block;
} */
/* 一行文本溢出隐藏： 需要添加width */
.overHidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 多行省略 */
.overHidden-more{
  overflow: hidden;
-webkit-line-clamp: 4; 
-webkit-box-orient: vertical;
display: -webkit-box;
}

.el-button:active,
.el-button:hover,
.el-button:focus {
  border: 1px solid #dadde0 !important;
  background-color: #f2f2f2 !important;
  color: black !important;
}
/* 播放按钮的css动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* 给父亲添加相对定位 */
.position {
  position: relative;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #ec4141 !important;
  background-color: #ec4141 !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #606266 !important;
}
.el-radio__inner:hover,
.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-textarea__inner:focus {
  border-color: #dcdfe6 !important;
}
/* svg通用样式 */
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
/* 让图片更清晰 */
img {
  image-rendering: -webkit-optimize-contrast;
}
.blue {
  color: #8db6df;
}

.el-tag {
  border-radius: 15px !important;
}
.el-tag--plain.el-tag--info {
  color: #373737 !important;
}

.tittle-little {
  font-size: 18px;
  font-weight: bold;
}
.tittle-max {
  font-size: 22px;
  font-weight: bold;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #ec4141!important;
}
.icon-arrow {
  font-size: 11px;
}
.player-color {
  cursor: pointer;
  display: inline-block!important;
  color: #507daf;
}
.player-color:hover {
  color: #0b58b0;
}
.el-loading-spinner{
  margin-left: 100px;
}
.el-loading-spinner .el-loading-text{
  color: #ff4e4e !important;
}
.el-loading-spinner i {
  color: #ff4e4e !important;

}
::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/

  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/

  border-radius: 10px;

  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  background: #e0e0e0;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/

  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  border-radius: 10px;

  background: #fff;
}
