/* * {
  box-sizing: border-box;
} */

/* global */
:root {
  font-size: 13px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  /* height: 100%; */
}
/* 歌词页面出现造成页面滚动 */
/* :root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
} */
body{
/* height: 100%; */
  /* width: 100vw; */
  /* overflow: hidden; */
  padding-left: calc(100vw - 100%)
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  color: #373737;
  font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
}
/* html,
body {
  height: 100%;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #373737; */
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
}
ul li {
  list-style: none;
}
a {
  color: #373737;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

img,
embed,
object,
audio,
video {
  object-fit: cover;
    /* height: auto; */
    width: 100%
}







/* 播放按钮的css动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


/* svg通用样式 */
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 让图片更清晰 */
img {
  image-rendering: -webkit-optimize-contrast;
}
.blue {
  color: #8db6df;
}


.tittle-little {
  font-size: 18px;
  font-weight: bold;
}
.tittle-max {
  font-size: 22px;
  font-weight: bold;
}


.icon-arrow {
  font-size: 11px;
}
.player-color {
  cursor: pointer;
  display: inline-block!important;
  color: #507daf;
}
.player-color:hover {
  color: #0b58b0;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/

  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/

  border-radius: 10px;

  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  background: #e0e0e0;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/

  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

  border-radius: 10px;

  background: #fff;
}
