
/* loading */
.el-loading-spinner{
  margin-left: 100px;
}
.el-loading-spinner .el-loading-text{
  color: #ff4e4e !important;
}
.el-loading-spinner i {
  color: #ff4e4e !important;
}

/* pagination */
.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #ec4141!important;
}

/* tag */
.el-tag {
  border-radius: 15px !important;
}
.el-tag--plain.el-tag--info {
  color: #373737 !important;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #ec4141 !important;
  background-color: #ec4141 !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #606266 !important;
}
.el-radio__inner:hover,
.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-textarea__inner:focus {
  border-color: #dcdfe6 !important;
}

/* table */
.el-table td, .el-table th.is-leaf{
  border-bottom: none!important;
}
.el-table{
  font-size: 13px!important;
}
.el-table .cell{
  line-height: 25px!important;
}
.el-table__body tr.current-row>td{
  background-color: #e5e5e5!important;
}
.el-table::before{
  height:0!important;
}
/* el-backtop */
.el-backtop{
color:#ec4141!important;
}

/* .el-message */
.el-message{
  top: 40%!important;
  /* transform:(-50%,-50%)!important; */
  min-width: 180px!important;
  border-radius:13px!important; 
  background-color: #141516!important;
  opacity:0.8;
  padding:23px 50px 23px 30px!important;
  
}
.el-message__content{
  display: flex;
  align-items: center;
  font-size: 17px!important;
  color: #fff!important;
}
.el-icon-info:before{
  content: ""!important;
}